.btn-con{
    display: flex;
    align-self: flex-start;

}
.main-btn{
    border-radius: 20px;
    /* color: inherit; */
    /* color: rgb(105, 108, 6); */
    font-weight: 600;
    position: relative;
    /* border: 1px solid var(--color-secondary); */
    border: 2px solid rgb(105, 108, 6);
 display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.btn-text{
    padding: 0 2rem;
    /* color:  rgb(105, 108, 6); */
    /* color: #f8f8f8; */
    color: rgb(128, 155, 8);
  


}
.btn-icon{
    /* background-color: ; */
    display: flex;
/* color: rgb(105, 108, 6); */
color: rgb(128, 155, 8);
align-items: center;
       justify-content: center;
     border-radius: 50%;
     padding: 1rem;

}
.btn-icon::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
transform: translateY(-100%);
transition: all .4s ease-out;
z-index: -1;
transition: all .4s ease-out;
}
.main-btn:hover{
/* background-color:var(--color-secondary); */
background-color: #12181b;
transform: translateY(100);
transition: all .4s ease-in;
border: 1px solid #000;
animation: ease-in-out 1s;
}